{% extends 'base.html'%}

{% block title %}The Food Planner{% endblock %}

{% block content %}

<h1 class="display-3 text center">The Food Planner</h1>
<hr>

<div class="container text-center bg-dark rounded py-4 welcome-container">
    <h2 class="h2">
    Welcome to <span class="name">The Food Planner</span>
    </h2>
    <p>We really love to make food!</p>
    <p>...</p>
    
    <h3 class="h3">Here we go!</h3>
    <ul class="list-group welcome-list">
        <li>
        mmmmmmmmmmmmmmm
        </li>
        <li>
        ..............
        </li>
        <li>
        ................
        </li>
    </ul>

        <p>Let's check! Are you ready??</p>
    
    </div>

    {% endblock %}