{% extends 'base.html'%}

{% block title %}CookingClub{% endblock %}

{% block content %}

<h1 class="display-3 text-center text-dark">CookingClub</h1>
<hr>

<div class="container text-center bg-light rounded py-4 welcome-container">
    <h2 class="h2 text-center">
        Welcome to <span class="name">CookingClub</span>
    </h2>
    <p>What you are looking for?</p>
    <p>Let's cook something new</p>
    <p>We have <em> around 380,000</em> recipes from the web <br> you would love!</p>
    
    <h3 class="h3">Here we go!</h3>
    <ul class="list-group welcome-list">
        <li>Filter your recipe by diet and cuisine</li>
        <li>Pick the recipe of your choice</li>
    </ul>
        <p>Let's check! Are you ready??</p>
        <p class="lead text-lg">Hurry up! I am hungry!</p>
    </div>

    {% endblock %}